<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="test">
      <div class="test-test">hey</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Hello World'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.test {
  .test-test {
    color: blue;
    font-size: 40px aa;
  }
}
</style>
