<script>
  import {mapState} from 'vuex'

  export default {
    computed: {
      ...mapState({
        userStore: state => state.userStore
      })
    },
    methods: {
      handleLogout (event) {
        if (event) {
          event.preventDefault()
        }
        this.$store.dispatch('clearAuthUser')
        window.localStorage.removeItem('authUser')
        this.$router.push({name: 'home'})
      }
    }
  }
</script>

<template>
  <nav class="navbar navbar-default" v-if="userStore.authUser !== null && userStore.authUser.access_token">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link :to="{name: 'home'}" class="navbar-brand">Buki</router-link>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><router-link :to="{name: 'dashboard'}">Dashboard</router-link></li>
          <li><router-link :to="{name: 'chat'}">Chat</router-link></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" v-on:click="handleLogout($event)">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>

<style rel="stylesheet/scss" lang="scss">
  @import './../assets/css/variables.scss';
  .navbar-default {
    background: $primary-color;
    .navbar-brand {
      color: #fff;
    }
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: 0;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #f2f2f2;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #f2f2f2;
  }
</style>