<template>
  <div class="wrapper" id="chat-wrapper">
    <section class="heading">
      <h1 class="page-title">Chat</h1>
    </section>

    <section class="content">
      <div class="col-md-2 col-xs-6" id="user-list-col">
        <user-list></user-list>
      </div>
      <div v-if="chatStore.conversation" class="col-md-10 col-xs-6" id="chat-content-wrapper">
        <div class="chat-block">
          <user-conversation></user-conversation>
        </div>
        <div class="compose-message-block">
          <compose-message></compose-message>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import ChatUserList from './../components/chat/ChatUserList'
  import ChatWidget from './../components/chat/ChatWidget'
  import ChatAddWidget from './../components/chat/ChatAddWidget'

  export default {
    components: {
      'user-list': ChatUserList,
      'user-conversation': ChatWidget,
      'compose-message': ChatAddWidget
    },
    computed: {
      ...mapState({
        chatStore: state => state.chatStore
      })
    },
    created () {
      this.$store.dispatch('setUserList')
    }
  }
</script>
