<template>
  <div class="login">
    <form v-on:submit.prevent="handleLoginFormSubmit()">
      <div class="input-group">
        <label>Username</label>
        <input
          class="form-control"
          placeholder="Username"
          type="text"
          v-model="login.username"
        >
      </div>
      <div class="input-group">
        <label>Password</label>
        <input
          class="form-control"
          placeholder="Password"
          type="password"
          v-model="login.password"
        >
      </div>
      <button class="btn btn-primary">Login</button>
    </form>
  </div>
</template>

<script type="text/babel">
  import {loginUrl, userUrl, getHeader} from './../config'

  export default {
    data () {
      return {
        login: {
          username: '',
          password: ''
        }
      }
    },
    methods: {
      handleLoginFormSubmit () {
        const postData = {
          grant_type: 'password',
          username: this.login.username,
          password: this.login.password
        }
        const authUser = {}
        /*
        Send user data to the server to authenticate
        the user and get the Access Token. */
        this.$http.post(loginUrl, postData).then(response => {
          if (response.status === 200) {
            console.log('token', response)

            authUser.access_token = response.data.access_token
            authUser.refresh_token = response.data.refresh_token
            window.localStorage.setItem('authUser', JSON.stringify(authUser))
            /*
            Use the Access Token to get
            the authenticated User data. */
            this.$http.get(userUrl, {headers: getHeader()}).then(response => {
              console.log('user', response)

              authUser.username = response.body.username
              authUser.user_id = response.body.user_id

              window.localStorage.setItem('authUser', JSON.stringify(authUser))
              this.$store.dispatch('setUserObject', authUser)

              this.$router.push({name: 'dashboard'})
            })
          }
        })
      }
    }
  }
</script>

<style>
.login {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
