<template>
  <div id="chat-widget-wrapper">
    <div class="conversation" v-for="chat in chatStore.conversation">
      <div class="chat-body">
        {{chat.chat}}
      </div>
      <div class="sender-data clearfix">
        <div class="name">{{chat.sender.username}}</div>
        <div class="time">{{chat.date_created}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex'

  export default {
    computed: {
      ...mapState({
        chatStore: state => state.chatStore
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  @import './../../assets/css/variables.scss';
  .conversation {
    margin: 10px 0;
    border-bottom: 1px solid #f2f2f2;

    .sender-data {
      padding: 10px;

      .name,
      .time {
        display: inline-block;
      }

      .time {
        font-size: .8em;
        color: #999;
      }

      .name {
        font-weight: bold;
      }
    }

    .chat-body {
      padding: 10px;
      background: #fff;
    }
  }
</style>