.admin-menu {
	min-width: 160px;
}

.admin-nav {
	padding: 0;
}

.admin-nav a {
	color: #333;
}

.admin-nav ul li ul li {
	padding-left: 10px;
}

.admin-nav ul li ul li a {
	font-size: 14px;
}

.admin-page {
	padding: 5px;
	background: #fff;
	border-radius: 3px;
}

.admin-content {
	width: 100%;
}

.admin-controls {
	float: right;
}

.admin-content h1 {
	font-size: 26px;
	margin-bottom: 10px;
}

.admin-content .pages-list {
	padding-left: 10px;
	list-style-type: none;
}

.admin-content .pages-list li {
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
}

.admin-content .pages-list a {
	display: inline-block;
	padding: 3px 5px;
}

.admin-content .pages-list a:hover {
	color: #6495ed;
}

.admin-content .pages-list a small {
	font-size: 0.8em;
}

.ui-state-highlight {
	background-color: #ccc;
	height: 1.5em;
	line-height: 1.2em;
}

.admin-btn {
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 10px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #ccc;
}

.admin-btn:hover {
	color: #6495ed;
}

.order-options .change-order {
	display: inline-block;
}

.order-options .save-order,
.order-options .cancel-order {
	display: none;
}

.order-options.active-changes .save-order,
.order-options.active-changes .cancel-order {
	display: inline-block;
}

.order-options.active-changes .change-order {
	display: none;
}

.main-button {
	border: 0;
	background: #333;
	color: #fff;
	padding: 4px 15px;
}

.main-button:hover {
	background: #666;
}
/*
.form-field {
	margin: 8px 0;
}

.form-field label {
	display: block;
	margin-bottom: 5px;
}

.form-field .text-input {
	padding: 3px 2px;
}

*/
