@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*, html, body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #dfdfdf url('/img/contemporary_china.png');
}

#page {
	position: relative;
	padding-bottom: 110px;
	min-height: 100%;
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000;
}

.header {
	position: relative;
	margin-bottom: 10px;
	background: url('/img/header.jpg') 0px -50px no-repeat;
	background-size: cover;
}

#header-contact-info {
	position: relative;
	float: right;
	text-align: right;
	width: 230px;
}

@media only screen and (max-width: 768px) {
	#header-contact-info {
		display: none;
	}
	article.page-text img {
		margin-left: 0;
	}
	article.page-text {
		text-align: justify;
	}
	.main {
		margin: 0 10px;
	}
}

.main {
	position: relative;
}

section.main {
	background: #fff;
	padding: 10px;
	border-bottom: 2px solid #eee;
	border-radius: 5px;
	box-shadow: 0 0px 10px rgba(0,0,0,.2);
}

section.main > h1 {
	font-size: 26px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}

.content {
	padding: 10px;
}

.content > a.logo {
	display: block;
	float: left;
	height: 70px;
	width: 280px;
	background: transparent url('/img/logo.png') left no-repeat;
	font-weight: bold;
	font-size: 38px;
	/*text-indent: -9999px;*/
}

.content > a.logo > small {
	font-size: 28px;
	color: #666;
	font-weight: normal;
}

article ul {
	padding-left: 20px;
}

article > h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

article.page-text {
	/*text-align: justify;*/
}

article.page-text img {
	border: 4px solid #fff;
	box-shadow: 0px 1px 5px #ccc;
	margin-bottom: 5px;
	margin-left: 5px;
	max-width: 100%;
}

/* NAVIGATION */

.header .navigation {
	background: #000;
}

nav {
	display: block;
	width: 100%;
	padding: 5px 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav.navigation ul li {
	display: block;
	float: left;
	margin-right: 5px;
}

nav.navigation ul li.language-item {
	float: right;
}

nav ul li.admin-login {
	float: right;
}

nav ul li a {
	display: block;
	padding: 5px 10px;
	color: #fff;
	border-radius: 3px;
}

nav ul li a:hover,
nav ul li a.current {
	background: #eee;
	color: #333;
	/*box-shadow: 0px 0px 3px #ccc;*/
}

/* end of NAVIGATION */

/* MAIN */

.main .about h1 {
	margin: 10px 0;
	font-size: 24px;
}

.main .about p {
	padding: 10px;
}

/* end of MAIN */

/* ADMIN */

.admin-submenu {
	list-style-type: none;
	margin: 10px 0;
	padding: 0;
}

.admin-submenu li {
	float: left;
}

.admin-submenu li a {
	display: inline-block;
	border: 0;
	margin: 0 5px 0 0;
	font-size: 14px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
	background: rgb(25, 132, 158);
}

.admin-submenu a:hover {
	background: rgb(61, 155, 177);
	cursor: pointer;
}

.control {
	float: right;
}

.goback:hover {
	cursor: pointer;
}

/* end of ADMIN */

/* FOOTER */

.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border: 0;
	text-align: center;
	margin-top: 0px;
	color: #fff;
	background: #24201d;
}

.footer .content {
	padding: 10px 0;
	text-align: center;
	color: #fff;
}

.footer a {
	color: #eee;
	text-decoration: underline;
}

.email-img {
	vertical-align: middle;
}

/* end of FOOTER */

/* PAGINATION */

.pagination {
	text-align: center;
}

.pagination ul {
	display: inline-block;
	list-style-type: none;
	margin: 10px 0;
	padding: 0;
}

.pagination ul li {
	float: left;
}

.pagination ul li a {
	display: inline-block;
	padding: 5px 10px;
}

.pagination ul li a:hover {
	color: rgb(25, 132, 158);
}

/* end of PAGINATION */

.goback {
	display: inline-block;
	border: 0;
	margin: 10px 5px 0;
	font-size: 14px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
	background: rgb(25, 132, 158);
}

.notice {
	margin: 5px 0;
	font-style: italic;
	color: #ccc;
	font-size: 18px;
}

.contact-map {
	float: right;
}

/* CLEARFIX */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* close commented backslash hack */

/* end of CLEARFIX */

/* BOOTSTRAP ALERTS */

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert h4 {
	margin-top: 0;
	color: inherit;
}
.alert .alert-link {
	font-weight: bold;
}
.alert > p,
.alert > ul {
	margin-bottom: 0;
}
.alert > p + p {
	margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
	padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c;
}
.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color: #245269;
}
.alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color: #66512c;
}
.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color: #843534;
}
/* end of BOOTSTRAP ALERTS */

/* FLUID */
.fluid-holder {
	display: table;
}

.fluid-holder .cell {
	display: table-cell;
	vertical-align: top;
}
/* end of FLUID */
