<template>
  <div id="app" class="container-fluid">
    <top-menu></top-menu>
    <router-view></router-view>
  </div>
</template>

<script type="text/babel">
  import TopMenu from './components/TopMenu'

  export default {
    components: {
      TopMenu
    },
    created () {
      const userObj = JSON.parse(window.localStorage.getItem('authUser'))
      this.$store.dispatch('setUserObject', userObj)
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  @import './assets/css/bootstrap.css';
  @import './assets/css/variables.scss';
  body {
    background: $background-color;
  }
</style>
